# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Development environments
.venv/
.vscode/
.idea/

# Compiled Python modules
*.pyc
*.pyo
*.pyd

# Temporary files
*.~*
*~

# OS or editor-specific files
.DS_Store
Thumbs.db

# Connection strings cache
.rediscli